// @import color-variable-module
$light: white;
$dark: black;
$font-size: 16px;
$font-dima-web: 'dima web';
@mixin reset {
	* {
		margin: 0;
		padding: 0;
		outline: 0;
		box-sizing: border-box;
		z-index: 1;
	}

	body {
		background: $light;
		color: $dark;
		-webkit-font-smoothing: antialiased;
	}

	body,
	input,
	button {
		font-size: $font-size;
		font-family: $font-dima-web;
	}

	%input-clear {
		outline: none;
		border: none;
		background: transparent;
		box-shadow: none;
		padding: 0;
		margin: 0;
	}

	button {
		cursor: pointer;
	}
}
@include reset;
