// ------------------------
$rose: #f7746e;
$gold: #e6c356;

$dark: #2a363b;
$light: #f4f4f8;
$gray: #4a4e4d;
$light-gray: #949a98;
$secondary: #e6e6ea;

$primary: #005b96;
$info: #63ace5;
$sky: #b3cde0;
$dark-success: #0e9aa7;
$success: #3da4ab;
$light-success: #88d8b0;
$lighten-success: #96ceb4;
$golden: #f6cd61;
$dark-gold: #ffcc5c;
$light-gold: #ffeead;
$pink: #f6abb6;

$darken-rose: #ff6f69;
// ------------------------

$orange: #fe8a71;
// $red: (
// 	darken = #851e3e,
// 	dark   = #651e3e
// );
// $blue: (
// 	$dark   = #03396c,
// 	$middle = #355c7d,
// 	$light  = #6497b1
// );
